body {
  padding-top: 60px;
  margin-bottom: 175px;
}
main {
  margin-top: 2.5rem;
}
main img {
  margin-bottom: 1.5rem;
}
a:hover {
  text-decoration: none;
}
.gallery img {
  filter: grayscale(1);
  transition: filter 0.25s ease-in-out;
}
.gallery img:hover {
  filter: grayscale(0);
}
.gallery-item {
  margin: 0 0 0.75rem;
  padding: 0;
}
.user-list li {
  padding: 0.5rem;
  border-right: 3px solid #fff;
  transition: background-color 0.25s ease-in-out;
}
.user-list li:hover {
  background-color: #ddd;
}
.user-list p {
  margin-bottom: 0;
}
.user-list img {
  margin-right: 0.5rem;
  transition: transform 0.25s ease-in-out;
}
.user-list li:hover img {
  transform: scale(1.1);
}
.social .col {
  padding-left: 5px;
  padding-right: 5px;
}
.author h1 {
  margin-top: 0;
}
.social .col {
  padding-left: 5px;
  padding-right: 5px;
}
.popover-header {
  margin: 0;
}
.popover .arrow:after {
  border-bottom-color: #f9f9f9 !important;
}

@media (max-width:769px) {
  body {
    margin-bottom: 75px;
  }
  .gallery {
    position: relative;
    top: initial;
    right: initial;
  }
  .footer.navbar {
    padding: 4px 8px;
  }
  .footer.navbar .gallery-item {
    margin: 2px;
  }
  .footer.navbar img {
    height: 50px;
    width: auto;
  }
  .user-list li {
    flex-basis: initial;
    flex-wrap: wrap;
  }
  .user-list p {
    display: none;
  }
  .user-list img {
    margin: 0 !important;
  }
}
